<div class="container-fluid header">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-6 header-left">
        <a href="#"><img src="./../../../assets/images/small-ogo-uti1.png"  alt="logo"/></a>
      </div>
      <div class="col-sm-6 header-right">
        <div class="avatar">
            <div class="avarta_wrap">
              <img src="./../../../assets/images/avarta.png" alt="avarta"  />
            </div>
            <p class="student-name">Hello Chukwuma</p>
            <div class="nofity">
              <p>99</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

