<div class="col-sm-12 course-list-box">
  <p>Keyboarding and wordprocessing</p>
  <div class="course_units">
    <span class="course_name">ABC 101</span> - <span>4 UNITS</span>
  </div>
</div>
<div class="col-sm-12 course-list-box">
  <p>Very Long Course Name</p>
  <div class="course_units">
    <span class="course_name">ABC 101</span> - <span>4 UNITS</span>
  </div>
</div>
<div class="col-sm-12 course-list-box">
  <p>Very Long Course Name</p>
  <div class="course_units">
    <span class="course_name">ABC 101</span> - <span>4 UNITS</span>
  </div>
</div>
<div class="col-sm-12 course-list-box">
  <p>Very Long Course Name</p>
  <div class="course_units">
    <span class="course_name">ABC 101</span> - <span>4 UNITS</span>
  </div>
</div>
<div class="col-sm-12 course-list-box">
  <p>Very Long Course Name</p>
  <div class="course_units">
    <span class="course_name">ABC 101</span> - <span>4 UNITS</span>
  </div>
</div>
<div class="col-sm-12 course-list-box">
  <p>Very Long Course Name</p>
  <div class="course_units">
    <span class="course_name">ABC 101</span> - <span>4 UNITS</span>
  </div>
</div>
