<div class="login-header">
  <div class="container-fluid">
    <div class="content-wrapper">
      <a href="#"><img src="./../../../assets/images/small-ogo-uti1.png"  alt="logo"/></a>
    </div>
  </div>
</div>
<div class="form-wrapper">
  <div class="double-col">
    <div class="form-left">
    </div>
    <div class="form-right">
      <p class="parent-corner">Parent’s corner</p>
      <h2>Log in</h2>
      <form>
        <div class="form-group">
            <input type="text" class="form-control" id="validationDefault01" onfocus="this.placeholder = ''" placeholder="Matric/application number" onblur="this.placeholder = 'Matric/application number'">
        </div>
        <div class="col-sm-12 hint">
          <a href="#">Retrieve Matric No</a>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="validationDefault02" onfocus="this.placeholder = ''" placeholder="Password" onblur="this.placeholder = 'Password'">
        </div>
        <div class="col-sm-12 hint">
          <a href="#">Forgot your password?</a>
        </div>
        <div class="form-group">
            <button class="btn btn-primary col-sm-12 form-btn" type="submit">login</button>
        </div>
        <p class="note">Note: Your default password is your surname in lowercase</p>
      </form>
    </div>
  </div>
</div>
