<div class="row">
  <div class="col-sm-12 left-aside">
      <ul>
        <li class="clearfix">
          <a href="#">
            <span class="float-left menu-icon"><img src="assets/images/nav-icon.png" alt="nav-icon"></span>
            <span class="float-left text-link">courses</span>
          </a>
        </li>
        <li class="clearfix">
          <a href="#">
              <span class="float-left menu-icon"><img src="assets/images/nav-icon.png" alt="nav-icon"></span>
              <span class="float-left text-link">Payments</span>
          </a>
        </li>
        <li class="clearfix">
          <a href="#">
              <span class="float-left menu-icon"><img src="assets/images/nav-icon.png" alt="nav-icon"></span>
              <span class="float-left text-link">Results</span>
          </a>
        </li>
        <li class="clearfix">
          <a href="#">
            <span class="float-left menu-icon"><img src="assets/images/nav-icon.png" alt="nav-icon"></span>
            <span class="float-left text-link">Biodata</span>
          </a>
        </li>
      </ul>
    <app-additional-nav></app-additional-nav>
    <app-complaints-link></app-complaints-link>
  </div>
</div>

