<ul class="more-menu">
  <li class="clearfix">
    <a href="#">
      <span class="float-left menu-icon"><img src="assets/images/nav-icon.png" alt="nav-icon"></span>
      <span class="float-left text-link">More</span>
    </a>
  </li>
  <li class="clearfix">
    <a href="#">
      <span class="float-left menu-icon"><img src="assets/images/nav-icon.png" alt="nav-icon"></span>
      <span class="float-left text-link">SIWES</span>
    </a>
  </li>
  <li class="clearfix">
    <a href="#">
      <span class="float-left menu-icon"><img src="assets/images/nav-icon.png" alt="nav-icon"></span>
      <span class="float-left text-link">Appointment</span>
    </a>
  </li>
  <li class="clearfix">
    <a href="#">
      <span class="float-left menu-icon"><img src="assets/images/nav-icon.png" alt="nav-icon"></span>
      <span class="float-left text-link">Elections</span>
    </a>
  </li>
</ul>
